<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/Users/ganeshbs/IdeaProjects/RegessionUI3/Assigment/src/test/java/com/ui/test/loginTest2.java">
        <classes>
            <class name="com.ui.test.loginTest2">
                <methods>
                    <include name="login"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>